POSTGRES_PASS=change-me
PULSEGRID_DB_HOST=localhost
PULSEGRID_DB_PORT=5433
PULSEGRID_DB_NAME=pulsegrid
PULSEGRID_DB_USER=justin
KAFKA_BOOTSTRAP_SERVERS=localhost:19092
PULSEGRID_KAFKA_TOPIC=events
PULSEGRID_KAFKA_CONSUMER_GROUP=pulsegrid-consumer-group
AIRFLOW_UID=50000
